body {
  background-color: #3E92CC;
  font-family: 'Bebas Neue', cursive;
}

.maintitle {
  text-align: center;
  font-size: 100px;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.title {
  min-height:500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bmicalc {
  text-align: center;
  font-size: 50px;
}

.idealwcalc {
  text-align: center;
  font-size: 50px;
}

.bmrcalc {
  text-align: center;
  font-size: 50px;
}

.strengthcalc {
  text-align: center;
  font-size: 50px;
}

.pacecalc {
  text-align: center;
  font-size: 50px;
}

.foodenconv {
  text-align: center;
  font-size: 50px;
}
